<!DOCTYPE html>
<html>

<head>
  <title>URL Shortener Microservice </title>
  <link rel="icon" type="image/png" href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png" />
  <link href="/public/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>URL Shortener Microservice</h1>
  <main>
    <section>
      <form id="urlForm">
        <fieldset>
          <legend>URL Shortener</legend>
          <label for="url_input">URL:</label>
          <input id="url_input" type="text" name="url" placeholder="https://dev-fredrick.vercel.app" required />
          <input type="submit" value="POST URL" />
        </fieldset>
      </form>
      <div id="result" style="display:none;">
        <h2>Shortened URL:</h2>
        <a id="shortenedUrl" href="#" target="_blank"></a>
      </div>
    </section>
  </main>
  <footer>
    <p>By <a href="https://dev-fredrick.vercel.app">DevFredrick</a></p>
  </footer>
  <script>
    document.getElementById('urlForm').addEventListener('submit', async function (event) {
      event.preventDefault();
      const urlInput = document.getElementById('url_input').value;
      const response = await fetch('/api/shorturl', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ url: urlInput })
      });
      const data = await response.json();
      if (data.short_url) {
        const shortUrl = `${window.location.origin}/api/shorturl/${data.short_url}`;
        document.getElementById('shortenedUrl').textContent = shortUrl;
        document.getElementById('shortenedUrl').href = shortUrl;
        document.getElementById('result').style.display = 'block';
      } else {
        alert(data.error);
      }
    });
  </script>
</body>

</html>